.brand Q
.content
  .message.welcome 
    p Welcome to Q, a collaborative pixel art project.
    .btn.btn-primary.btn-large.get-started Get Started
  .message.choose-color
    p Choose a color, and start filling in your tile!

    p Mousewheel lets you zoom in and out.
  .message.zoom-back-in  
    p You're zoomed out.  We'll bring you back in!
    .btn.btn-primary.btn-large.take-me-back Back to Tile
  .picker
    .picker-row
      .color.ad 
      .color.bd
      .color.cd
      .color.dd
      .color.ed
      .color.fd
      .color.gd
      .color.hd
    .picker-row
      .color.al
      .color.bl
      .color.cl
      .color.dl
      .color.el
      .color.fl
      .color.gl
      .color.hl     


  

